# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local run script file with credentials
run_local.sh

# Local CA and client certs and keys
*.pem
*.p12
*.srl
tmp.cnf